<!DOCTYPE HTML>
<html lang="en">
<head>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<!--/*/ <th:block th:include="fragments/menu :: menu"></th:block> /*/-->
<div class="container">
    <div class="jumbotron">
        <h1>Torre.co The Palindrome Challenge</h1>
        <p class="lead">
            Implements the code challenge for Torre.co
        </p>
        <p>Use document named 'BackEndTechTest_2016.docx' from documentation (located in this repository in the docs
            folder).
            specification.</p>
    </div>
</div>
<!-- /.container -->
</body>
</html>